<%- include("./partials/header.html") %>

  <section class="outras-noticias">
    <div class="title-outras-noticias">
      <h2>Busca:</h2>
      <div style="display: flex;" class="center">

        <div style="width: 100%;" class="mais-lidas">
          <h2><%= contagem %> resultados</h2>
          <div class="mais-lidas-noticias">

            <% for(let i = 0; i < posts.length; i++) { %>
              
              <div class="mais-lida-noticia-single">
                <img src="<%= posts[i].imagem %>" />
                <div class="content-mais-lidas-single">
                  <h3><%= posts[i].titulo %></h3>
                  <p><%= posts[i].descricaoCurta %>... <br><br> <a href="<%= posts[i].slug %>">Saiba mais</a></p>
                </div><!--content-mais-lidas-single-->
              </div><!--mais-lida-noticia-single-->
              
            <% } %>
            
          </div><!--mais-lidas-noticias-->
        </div><!--mais-lidas-->

      </div><!--center-->
    </div><!--title-outras-noticias-->
  </section>

  <%- include("./partials/footer.html") %>

</body>
</html>